<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    
    <!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property> DEPRECATED -->
    
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
   
    <property name="connection.url">jdbc:mysql://localhost:3308/testdb</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    
    <!-- property name="dialect">org.hibernate.dialect.MySQL8Dialect</property> Deprecated -->

    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
       
    <!-- JDBC connection pool for concurrent connections -->
    <property name="connection.pool_size">5</property>

    <!-- one thread one session -->
    <property name="current_session_context_class">thread</property>
     
    <property name="hibernate.show_sql">true</property>
    
    <property name="hbm2ddl.auto">update</property>
    <!-- options hbm2dll:
    create :
        create always DB when session factory is loaded. Data will be lost.
    update :
        Data will be safe, but database structure will be update. Useful in production.
    create-drop :
        like create and dropping the database.
    validate:
    check the mapping between database and beans.
    -->
 

    
    <mapping class="Model.Profesor"/>
    <mapping class="Model.Profe"/>
    <mapping class="Model.Direccion"/>  
    <mapping class="Model.Cart"/>
    <mapping class="Model.Item"/>
 
  </session-factory>
</hibernate-configuration>